﻿@model AppDem.Models.article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_article)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_article)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categorie.nom_categorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorie.nom_categorie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_article }) |
    @Html.ActionLink("Back to List", "Index")
</p>
