﻿@model IEnumerable<AppDem.Models.article>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom_article)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.volume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categorie.nom_categorie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom_article)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.volume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categorie.nom_categorie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_article }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_article }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_article })
        </td>
    </tr>
}

</table>
